@inherits LayoutComponentBase

<div class="sidenav">
    <center> <img src="/assets/logo-omran-final.jpg" height="70" width="150" /></center>
    <a href="#">Gerer les licences</a>
 
</div>
<nav>
    <h1>Omran</h1>
</nav>
<div class="main">

    @Body

</div>

@code {

}
