
*.dll
*.pdb
*.json
*.cache
*.v2
YesSIOmraneMobileWebAdmin/.vs/YesSIOmraneMobileWebAdmin/v16/.suo
*.gz
*.pdb
*.pdb
*.cache
YesSIOmraneMobileWebAdmin/.vs/YesSIOmraneMobileWebAdmin/v16/.suo
YesSIOmraneMobileWebAdmin/.vs/YesSIOmraneMobileWebAdmin/v16/.suo
