@inherits ValidationInputBase

<div class="validation-container">
    <input class="validation-input form-control" placeholder="@PlaceHolder" @oninput="HandleInputChanged" @bind-value="@Value" />
</div>