@page "/"
@inherits SignInBase






<div class="container">
    <center> <img src="/assets/logo-omran-final.jpg" height="150" width="200" /></center>
    <EditForm Model="User" OnValidSubmit="@HandleLogin">
        <DataAnnotationsValidator />

        <InputText @bind-Value="@User.UserName" PlaceHolder="Adresse email" class="form-control inputText"></InputText>
        <InputText type="password" @bind-Value="@User.Password" PlaceHolder="Mot de passe" class="form-control inputText"> </InputText>
        <ValidationSummary />
        <div class="divButton">
            <button class="btn confirmButton" type="submit">Se connecter</button>
        </div>
    </EditForm>
    <div class="signup">
        <a href="/forgotPasswordEmailReset">Mot de passe oublié</a>
    </div>


    @if (@errorMessage)
    {
        <p class="alert-danger">Donne invalide</p>


    }
</div>