@page "/Forgot-Password/{Token}"
@inherits ForgotPasswordBase

<h2 class="welcome-text">Forgot Password</h2>
<hr />
<div class="sign-form">
    <div class="">
        <EditForm Model="PasswordModel">
            <DataAnnotationsValidator />
            <br />
            <ValidationInput @bind-Value="@PasswordModel.Password" PlaceHolder="New Password"></ValidationInput>
            <ValidationInput @bind-Value="@PasswordModel.ConfirmPassword" PlaceHolder="Confirm Password"></ValidationInput>
            <button class="sign-button btn btn-primary" type="submit" onsubmit="@UpdatePassword(PasswordModel.Password)">Submit</button>
            <ValidationSummary />
        </EditForm>
    </div>
</div>
