@inherits ForgotPasswordEmailResetBase
@page "/forgotPasswordEmailReset"

<h2 class="welcome-text">Forgot Password</h2>
<hr />
<div class="sign-form">
    <div class="">
        <EditForm Model="Email">
        <DataAnnotationsValidator />
                <br />
                <ValidationInput @bind-Value="@Email.Email" PlaceHolder="Email"></ValidationInput>
            <button class="sign-button btn btn-primary" type="submit">Submit</button>
            <ValidationSummary />
        </EditForm>
    </div>
</div>
